numpy
pandas
torch==1.9.1

pytorch-lightning==1.4.9

nltk
sklearn
spacy>=3.1.0
sentencepiece>=0.1.95
transformers>=4.11.0
datasets>=1.12.0

indic-transliteration==2.3.2
google-transliteration-api

wandb>=0.12
